<div class="container">
  <div class="row h-100 my-auto justify-content-center align-items-center text-center">
    <form class="col-6 mt-3" action="/restaurants" method="POST" onsubmit="return editCheckAgain()">
        <div class="account d-flex my-2">
            <h3 class="col-4 text-left">Account :</h3>
            <input required autofocus type="text" placeholder="" name="name" class="col-8 form-control input-area">
        </div>
        <div class="password d-flex my-2">
            <h3 class="col-4 text-left">Password :</h3>
            <input required type="password" placeholder="" name="name" class="col-8 form-control input-area">
        </div>
      <button type="submit" class="btn btn-outline-danger mt-3 mb-5">Sign in</button>
    </form>
  </div>
</div>