<!-- navigation -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/out">Login Out</a>
  </div>
</nav>

<h2 class="m-5 text-center">Welcome back, {{name}}!</h2>