<div class="row title">你想對誰說幹話</div>
<div class="row occupation">
  <div class="col-3" style='height:250px;'>
    <label class="occupation_name">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" alt="工程師">
      <div>
        <input type="radio" name="occupation" value="Engineer"> 工程師
      </div>
    </label>
  </div>
  <div class="col-3" style='height:250px;'>
    <label class="occupation_name">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" alt="設計師">
      <div>
        <input type="radio" name="occupation" value="Engineer"> 設計師
      </div>
    </label>
  </div>
  <div class="col-3" style='height:250px;'>
    <label class="occupation_name">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" alt="創業家">
      <div>
        <input type="radio" name="occupation" value="Engineer"> 創業家
      </div>
    </label>
  </div>
</div>